.all-parks-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    place-items: center;
    gap: 6rem;
    margin-top:4em;
  }

  @media only screen and (max-width: 1130px) {
    .all-parks-container {
      margin-top: 8em;
    }
  } 

  @media only screen and (max-width: 570px) {
    .all-parks-container {
      margin-top: 2em;
    }
  }

  @media only screen and (max-width: 440px) {
    .all-parks-container {
      margin-top: 2em;
    }
  }

  @media only screen and (max-width: 370px) {
    .all-parks-container {
      margin-top: 2em;
    }
  
  }