.park-heading {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
  font-family: 'Abel', sans-serif;
}

.single-park-backdrop {
  position: fixed;
  top: 100px;
  left: 0;
  overflow: hidden;

  height: 100%;
  width: 100%;

  opacity: 0.5;

  z-index: -1;
}

.details-container-one {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-top: 2em;
}

.details-container-two {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  padding-top: 0;
  background-color: rgba(255, 255, 255, 0.715);
}

.details-container-two  h3 {
  font-size: 1.5em;
  font-family: 'Abel', sans-serif;
  margin-bottom: 0.2em;
}

.details-container-two  p {
  font-size: 1.2em;
  font-family: 'Abel', sans-serif;
  margin-bottom: 0.2em;
}

.park-description {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.park-description p {
  margin: 1em;
}

.key-details{
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 5em;
}

.key-details p {
 margin: 1em;
}

.park-website {
  font-family: 'Abel', sans-serif;
  color: black;
  margin: 1em;
}

.park-hours {
  display: flex;
  padding-right: 4em;
}

/* @media only screen and (max-width: 1370px) {
  .single-park-info-container {
    display: flex;
    width: 100vw;
    margin-top: 0;
  }

  .single-park-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-top: 1em;
  }

  #park-image {
    display: flex;
    width: 15em;
  }

  .single-park-info-container h2 {
    font-size: 1.5em;
    font-family: 'Aleo', sans-serif;
    margin-bottom: 0.5em;
    margin-top: 0em;
  }

  .single-park-info-container h3 {
    font-size: 0.75em;
    font-family: 'Aleo', sans-serif;
    margin-bottom: 0.2em;
  }

  .single-park-info-container p {
    font-size: 0.8em;
    margin-bottom: 0.2em;
  }

  .styling-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30em;
    height: 30em;
    border: solid 0.1em black;
    background: rgb(0, 33, 0);
    color: white;
    padding: 1em;
  }

  .accessibility-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 30em;
    height: 30em;
    border: solid 0.1em black;
    background: rgb(0, 33, 0);
    color: white;
    padding: 1em;
  }

  .accessibility-container h2 {
    margin-bottom: 15px;
  }

  .features-styling-container {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 1.8em;
    font-size: 0.9rem;
  }

  .feature-wrapper div {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    margin: 0px;
  }
  .feature-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    margin: 0px;
  }

  .feature-wrapper p {
    margin: 0px;
  }

  .features-styling-container img {
    display: flex;
    width: 2rem;
    height: 2rem;
    margin-right: 0.5em;
  }

  .features-buttons-styling-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 50%;
    width: 100%;
  }

  .styling-container-two {
    display: flex;
    width: 40%;
    justify-content: space-between;
  }

  .accessibility-support {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    font-family: 'Aleo', sans-serif;
    font-size: 1.1em;
    cursor: pointer;
    color: white;
  }

  .favorite-park-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Aleo', sans-serif;
    font-size: 0.8em;
    cursor: pointer;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 50%;
  }
}

@media only screen and (max-width: 1130px) {
  .single-park-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100%;
    margin-top: 2em;
  }

  .styling-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50em;
    height: 40em;
    border: solid 0.1em black;
    background: rgb(0, 33, 0);
    color: white;
    padding: 1em;
    margin-bottom: 2em;
  }

  #park-image {
    display: flex;
    width: 26em;
  }

  .single-park-info-container h2 {
    font-size: 2.5em;
    font-family: 'Aleo', sans-serif;
    margin-bottom: 0.5em;
    margin-top: 0em;
  }

  .single-park-info-container h3 {
    font-size: 1.15em;
    font-family: 'Aleo', sans-serif;
    margin-bottom: 0.2em;
  }

  .single-park-info-container p {
    font-size: 1.3em;
    margin-bottom: 0.2em;
    overflow-wrap: break-word;
  }

  .park-website {
    font-size: 1.5em;
    font-family: 'Abel', sans-serif;
    margin-top: 2em;
    color: white;
  }

  .accessibility-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50em;
    height: 40em;
    border: solid 0.1em black;
    background: rgb(0, 33, 0);
    color: white;
    padding: 1em;
    margin-bottom: 1em;
  }

  .accessibility-container h2 {
    margin-bottom: 15px;
  }

  .features-styling-container {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 1.5em;
    font-size: 0.9rem;
  }

  .feature-wrapper div {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    margin: 0px;
  }

  .feature-wrapper p {
    font-size: 1.2em;
    margin: 0px;
  }

  .features-styling-container img {
    display: flex;
    width: 3rem;
    height: 3rem;
    margin-right: 0.5em;
  }

  .features-buttons-styling-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 50%;
    width: 100%;
  }

  .styling-container-two {
    display: flex;
    width: 40%;
    justify-content: space-between;
  }

  .accessibility-support {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    font-family: 'Aleo', sans-serif;
    font-size: 1.5em;
    cursor: pointer;
    color: white;
  }

  .favorite-park-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Aleo', sans-serif;
    font-size: 1.2em;
    cursor: pointer;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 35%;
  }
}

@media only screen and (max-width: 870px) {
  .single-park-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 2em;
  }

  .styling-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40em;
    height: 40em;
    border: solid 0.1em black;
    background: rgb(0, 33, 0);
    color: white;
    padding: 1em;
    margin-bottom: 2em;
  }

  #park-image {
    display: flex;
    width: 25em;
  }

  .single-park-info-container h2 {
    font-size: 2.5em;
    font-family: 'Aleo', sans-serif;
    margin-bottom: 0.5em;
    margin-top: 0em;
  }

  .single-park-info-container h3 {
    font-size: 1em;
    font-family: 'Aleo', sans-serif;
    margin-bottom: 0.2em;
  }

  .single-park-info-container p {
    font-size: 1.2em;
    margin-bottom: 0.2em;
    overflow-wrap: break-word;
  }

  .accessibility-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 40em;
    height: 40em;
    border: solid 0.1em black;
    background: rgb(0, 33, 0);
    color: white;
    padding: 1em;
    margin-bottom: 1em;
  }

  .feature-wrapper p {
    font-size: 1em;
    margin: 0px;
  }

  .features-styling-container img {
    display: flex;
    width: 3rem;
    height: 3rem;
    margin-right: 0.5em;
  }

  .favorite-park-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Aleo', sans-serif;
    font-size: 1.2em;
    cursor: pointer;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 45%;
  }
}

@media only screen and (max-width: 700px) {
  .single-park-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 2em;
  }

  .styling-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30em;
    height: 35em;
    border: solid 0.1em black;
    background: rgb(0, 33, 0);
    color: white;
    padding: 1em;
    margin-bottom: 2em;
  }

  #park-image {
    display: flex;
    width: 20em;
  }

  .single-park-info-container h2 {
    font-size: 1.75em;
    font-family: 'Aleo', sans-serif;
    margin-bottom: 0.5em;
    margin-top: 0em;
    overflow-wrap: break-word;
  }

  .single-park-info-container h3 {
    font-size: 1em;
    font-family: 'Aleo', sans-serif;
    margin-bottom: 0.2em;
  }

  .single-park-info-container p {
    font-size: 1.1em;
    margin-bottom: 0.2em;
  }

  .park-website {
    font-size: 1.2em;
  }

  .accessibility-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 30em;
    height: 35em;
    border: solid 0.1em black;
    background: rgb(0, 33, 0);
    color: white;
    padding: 1em;
    margin-bottom: 1em;
  }

  .feature-wrapper p {
    font-size: 1em;
    margin: 0px;
  }

  .features-styling-container img {
    display: flex;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5em;
  }

  .favorite-park-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Aleo', sans-serif;
    font-size: 0.75em;
    cursor: pointer;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 50%;
  }

  .features-styling-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 2r));
    row-gap: 2em;
    font-size: 0.9rem;
    margin-top: 0;
  }

  .accessibility-support {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    font-family: 'Aleo', sans-serif;
    font-size: 1em;
    cursor: pointer;
    color: white;
  }
}

@media only screen and (max-width: 620px) {
  .single-park-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 2em;
  }

  .styling-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28em;
    height: 30em;
    border: solid 0.1em black;
    background: rgb(0, 33, 0);
    color: white;
    padding: 1em;
    margin-bottom: 2em;
  }

  #park-image {
    display: flex;
    width: 17em;
  }

  .single-park-info-container h2 {
    font-size: 1.75em;
    font-family: 'Aleo', sans-serif;
    margin-bottom: 1.2em;
    margin-top: 0em;
  }

  .single-park-info-container h3 {
    font-size: 1em;
    font-family: 'Aleo', sans-serif;
    margin-bottom: 0.2em;
  }

  .single-park-info-container p {
    font-size: 0.9em;
    margin-bottom: 0.2em;
  }

  .accessibility-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 28em;
    height: 30em;
    border: solid 0.1em black;
    background: rgb(0, 33, 0);
    color: white;
    padding: 1em;
    margin-bottom: 1em;
  }

  .accessibility-container h2 {
    margin: 0px;
  }

  .feature-wrapper p {
    font-size: 1em;
    margin: 0px;
  }

  .features-styling-container img {
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5em;
  }

  .favorite-park-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Aleo', sans-serif;
    font-size: 0.75em;
    cursor: pointer;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 50%;
  }

  .features-styling-container {
    display: grid;
    row-gap: 1em;
    font-size: 0.9rem;
  }

  .accessibility-support {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    font-family: 'Aleo', sans-serif;
    font-size: 1em;
    cursor: pointer;
    color: white;
  }
}

@media only screen and (max-width: 500px) {
  .single-park-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 2em;
  }

  .styling-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 21em;
    height: 29em;
    border: solid 0.1em black;
    background: rgb(0, 33, 0);
    color: white;
    padding: 1em;
    margin-bottom: 2em;
  }

  #park-image {
    display: flex;
    width: 14em;
  }

  .single-park-info-container h3 {
    font-size: 1em;
    font-family: 'Aleo', sans-serif;
    margin-bottom: 0.2em;
  }

  .park-website {
    font-size: 1em;
  }

  .styling-container-two {
    display: flex;
    width: 75%;
    font-size: 0.9em;
    margin-bottom: 0.2em;
  }

  .accessibility-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 21em;
    height: 29em;
    border: solid 0.1em black;
    background: rgb(0, 33, 0);
    color: white;
    padding: 1em;
    margin-bottom: 1em;
  }

  .accessibility-container h2 {
    margin: 0px;
  }

  .feature-wrapper p {
    font-size: 1em;
    margin: 0px;
  }

  .features-styling-container img {
    display: none;
  }

  .favorite-park-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Aleo', sans-serif;
    font-size: 0.75em;
    cursor: pointer;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 50%;
  }

  .features-styling-container {
    display: grid;
  }

  .feature-wrapper p {
    font-size: .9rem;

  }

  .accessibility-support {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    font-family: 'Aleo', sans-serif;
    font-size: 1em;
    cursor: pointer;
    color: white;
  }

  .features-styling-container {
    display: grid;
    row-gap: 1em;
  }
}

@media only screen and (max-width: 380px) {
  .single-park-info-container {
    display: flex;
    width: 100vw;
  }

  .single-park-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 2em;
  }

  .styling-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 16em;
    height: 37em;
    border: solid 0.1em black;
    background: rgb(0, 33, 0);
    color: white;
    padding: 1em;
    margin-bottom: 2em;
  }

  #park-image {
    display: flex;
    width: 17em;
  }

  .single-park-info-container h2 {
    font-size: 1.75em;
    font-family: 'Aleo', sans-serif;
    margin-bottom: 0.5em;
    margin-top: 0em;
  }

  .single-park-info-container h3 {
    font-size: 0.8em;
    font-family: 'Aleo', sans-serif;
    margin-bottom: 0.2em;
  }

  .single-park-info-container p {
    font-size: 0.9em;
    margin-bottom: 0.2em;
  }

  .accessibility-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 16em;
    height: 50em;
    border: solid 0.1em black;
    background: rgb(0, 33, 0);
    color: white;
    padding: 1em;
    margin-bottom: 1em;
  }

  .feature-wrapper p {
    font-size: 1em;
    margin: 0px;
  }

  .features-styling-container img {
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5em;
  }

  .favorite-park-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Aleo', sans-serif;
    font-size: 0.75em;
    cursor: pointer;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 60%;
  }

  .features-styling-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    row-gap: .5rem;
    font-size: 0.9rem;
  }

  .accessibility-support {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    font-family: 'Aleo', sans-serif;
    font-size: 1em;
    cursor: pointer;
    color: white;
  }
}
 */
