.park-heading {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
  font-family: 'Abel', sans-serif;
  text-align: center;
}

.single-park-backdrop {
  position: fixed;
  top: 100px;
  left: 0;
  overflow: hidden;

  height: 100%;
  width: 100%;

  opacity: 0.5;

  z-index: -1;
}

.details-container-one {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-top: 2em;
}

.details-container-two {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
  padding-top: 0;
  background-color: rgba(255, 255, 255, 0.85);
}

.details-container-two h3 {
  font-size: 1.5em;
  font-family: 'Abel', sans-serif;
  margin-bottom: 0.2em;
}

.details-container-two p {
  font-size: 1.2em;
  font-family: 'Abel', sans-serif;
  margin-bottom: 0.2em;
  font-weight: bold;
  line-height: 1.7em;
}

.key-details-heading, 
.park-description-heading {
  display: flex;
  width: 99%;
  height: auto;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  background: rgba(0, 33, 0, 0.875);
  color: white;
}

.park-description {
  display: flex;
  flex-direction: column;
  width: 45%;
  font-weight: bold;
}

.park-description p {
  margin: 1em;
}

.key-details {
  display: flex;
  flex-direction: column;
  width: 45%;
}


.key-details p {
  margin: 1em;
}

.park-website {
  font-family: 'Abel', sans-serif;
  color: black;
  margin: 1em;
  font-weight: bold;
}

.park-hours {
  display: flex;
  padding-right: 2em;
}

@media only screen and (max-width: 750px) {
  .details-container-two {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .details-container-two h3 {
    color: white;
    text-align: center;
  }

  .key-details {
    width: 96%;
  }

  .park-description {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    width: 96%;
  }

.key-details-heading, 
.park-description-heading {
  width: 100%;
}

  .park-website {
    font-size: 1.2em;
  }
}
