.accessibility-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  border: solid 0.1em black;
  background: rgba(0, 33, 0, 0.875);
  color: white;
  padding: 1em;
}

.accessibility-container h2 {
  font-family: 'Abel', sans-serif;
  font-size: 2em;
  text-align: center;
}

.features-buttons-styling-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
  width: 100%;
  background: white;
  margin-top: 1em;
}

.features-buttons-styling-container h3 {
  font-family: 'Abel', sans-serif;
  text-align: center;
  padding-left: 5em;
  color: black;
}

.accessibility-support-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  font-family: 'Abel', sans-serif;
  font-size: 1em;
  cursor: pointer;
  color: black;
}

.favorite-park-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Abel', sans-serif;
  font-size: 1em;
  cursor: pointer;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 15%;
  background: rgb(0, 33, 0);
  color: white;
  border-radius: 0.2em;
  font-weight: bold;
}

.features-styling-container {
  margin-top: 2em;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1em;
  font-size: 0.9rem;
  width: 80%;
}

.feature-wrapper div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0px;
}

.features-styling-container img {
  display: flex;
  width: 3rem;
  height: 3rem;
  margin-right: 0.5em;
}

.features-styling-container p {
  display: flex;
  font-family: 'Abel', sans-serif;
  font-size: 1.2em;
  margin-top: 0.15em;
  font-weight: bold;
}

.styling-container-two {
  display: flex;
  width: 40%;
  justify-content: space-between;
}

@media only screen and (max-width: 750px) {
  .features-styling-container {
    margin-top: 2em;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1em;
    font-size: 0.9rem;
    width: 100%;
  }
}

@media only screen and (max-width: 680px) {
  .favorite-park-btn {
    width: auto;
    margin-top: 1em;
  }

  .features-buttons-styling-container {
    flex-direction: column;
    height: auto;
  }

  .features-buttons-styling-container h3 {
    flex-direction: column;
    height: auto;
    margin-top: 1.7em;
    margin-bottom: 0.5em;

    padding: 0;
  }
}

@media only screen and (max-width: 550px) {
  .features-styling-container {
    margin-top: 2em;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1em;
    font-size: 0.9rem;
    width: 100%;
  }
}

@media only screen and (max-width: 350px) {
  .features-styling-container {
    margin-top: 2em;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1em;
    font-size: 0.9rem;
    width: 100%;
  }
}
