.favorites-heading-container,
.no-favorites-message {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(0, 33, 0);
  color: rgb(255, 252, 252);
  padding-top: 0.5em;
  font-family: 'Abel', sans-serif;
}

.favorite-parks-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 252, 252);
  padding-top: 0.5em;
}

.all-favorite-parks-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 6rem;
}

.favorite-parks-container h2 {
  display: flex;
  font-size: 2em;
  font-family: 'Aleo', sans-serif;
  color: rgb(255, 252, 252);
}

.favorite-parks-container p {
  display: flex;
  font-size: 1.5em;
  font-family: 'Aleo', sans-serif;
  color: rgb(255, 252, 252);
}

.no-favorites-message {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(0, 33, 0);
  color: rgb(255, 252, 252);
  padding-top: 0.5em;
}

@media only screen and (max-width: 1370px) {
  .favorite-parks-container {
    margin-top: 2em;
  }

  #all-favorite-parks-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 8rem;
    margin-top: 1em;
  }
}

@media only screen and (max-width: 1025px) {
  .favorite-parks-container {
    margin-top: 2em;
  }

  #all-favorite-parks-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 3rem;
    margin-top: 1em;
  }
}

@media only screen and (max-width: 850px) {
  .favorite-parks-container {
    margin-top: 2em;
  }

  #all-favorite-parks-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 6rem;
    margin-top: 1em;
  }
}

@media only screen and (max-width: 600px) {
  .favorite-parks-container {
    margin-top: 2em;
  }

  #all-favorite-parks-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 2rem;
    margin-top: 1em;
  }
}

@media only screen and (max-width: 530px) {
  .favorite-parks-container {
    margin-top: 2em;
  }

  #all-favorite-parks-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    gap: 5rem;
    margin-top: 1em;
  }
}

@media only screen and (max-width: 375px) {

  #all-favorite-parks-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    gap: 5rem;
    margin-top: .5em;
  }

  .favorites-heading-container {
    font-size: .75em;
  }

  .favorite-parks-container p {
    display: flex;
    font-size: .75em;
    font-family: 'Aleo', sans-serif;
  }
}
