.favorites-heading-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(0, 33, 0);
  color: rgb(255, 252, 252);
  padding-top: 1.2em;
  font-family: 'Abel', sans-serif;
  margin-top: 6.5em;
}

.no-favorites-message {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#no-favorites-message p {
  font-size: 1.5em;
  font-family: 'Abel', sans-serif;
  color: black;
  font-weight: bold;
}

.all-favorite-parks-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 6rem;
}

.all-favorite-parks-container h2 {
  display: flex;
  font-size: 2em;
  font-family: 'Aleo', sans-serif;
  color: rgb(255, 252, 252);
}

.all-favorite-parks-container p {
  display: flex;
  font-size: 1.5em;
  font-family: 'Aleo', sans-serif;
  color: rgb(255, 252, 252);
}

@media only screen and (max-width: 1400px) {
  #all-favorite-parks-container  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 0rem;
  }
}

@media only screen and (max-width: 1130px) {
  #all-favorite-parks-container  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 0rem;
  }
}

@media only screen and (max-width: 940px) {
  .favorites-heading-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0, 33, 0);
    color: rgb(255, 252, 252);
    padding-top: 1.2em;
    font-family: 'Abel', sans-serif;
    margin-top: 7.5em;
  }

  .all-favorite-parks-container {
    margin-top: 2em;
  }

  .all-favorite-parks-container h2 {
    margin-top: 9em;
  }

  .all-favorite-parks-container p {
    font-size: 1.4em;
    overflow-wrap: break-word;
    text-align: center;
  }
}

@media only screen and (max-width: 940px) {
  #all-favorite-parks-container  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 0rem;
  }
}

@media only screen and (max-width: 580px) {
  #all-favorite-parks-container  {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    gap: 0rem;
  }
}

@media only screen and (max-width: 610px) {
  .all-favorite-parks-container p {
    font-size: 1.5em;
    overflow-wrap: break-word;
    text-align: center;
  }
}

@media only screen and (max-width: 515px) {
  .all-favorite-parks-container  {
    margin-top: 2em;
  }

  .all-favorite-parks-container p {
    font-size: 1.3em;
    overflow-wrap: break-word;
    text-align: center;
  }
}
@media only screen and (max-width: 376px) {
  .favorites-heading-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0, 33, 0);
    color: rgb(255, 252, 252);
    padding-top: 1.2em;
    font-family: 'Abel', sans-serif;
    margin-top: 5em;
  }

  .all-parks-header-container {
    margin-top: 6em;
  }

  .all-favorite-parks-container p {
    font-size: 1em;
    overflow-wrap: break-word;
    text-align: center;
  }
}









/* @media only screen and (max-width: 1370px) {
  .favorite-parks-container {
    margin-top: 2em;
  }

  #all-favorite-parks-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 8rem;
    margin-top: 1em;
  }
} */

/* @media only screen and (max-width: 1025px) {
  .favorite-parks-container {
    margin-top: 2em;
  }

  #all-favorite-parks-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 3rem;
    margin-top: 1em;
  }
} */

/* @media only screen and (max-width: 850px) {
  .favorite-parks-container {
    margin-top: 2em;
  }

  #all-favorite-parks-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 6rem;
    margin-top: 1em;
  }
} */

/* @media only screen and (max-width: 600px) {
  .favorite-parks-container {
    margin-top: 2em;
  }

  #all-favorite-parks-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 2rem;
    margin-top: 1em;
  }
} */

/* @media only screen and (max-width: 530px) {
  .favorite-parks-container {
    margin-top: 2em;
  }

  #all-favorite-parks-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    gap: 5rem;
    margin-top: 1em;
  }
} */

/* @media only screen and (max-width: 375px) {

  #all-favorite-parks-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    gap: 5rem;
    margin-top: .5em;
  }

  .favorites-heading-container {
    font-size: .75em;
  }

  .favorite-parks-container p {
    display: flex;
    font-size: .75em;
    font-family: 'Aleo', sans-serif;
  }
} */
