.favorite-parks-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.all-favorite-parks-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
  row-gap: 70px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
}

.favorite-parks-container h2 {
  display: flex;
  font-size: 2em;
  font-family: 'Aleo', sans-serif;
}

.favorite-parks-container p {
    display: flex;
    font-size: 1.5em;
    font-family: 'Aleo', sans-serif;
  }
  