.single-park-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

#park-image {
    display: flex;
    width: 20em;
}

.single-park-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    margin-top: .5em;
}

.single-park-info-container h2{
    font-size: 2em;
    font-family: 'Aleo', sans-serif;
    margin-bottom: .5em;
    margin-top: 0em;

}

.single-park-info-container h3{
    font-size: 1em;
    font-family: 'Aleo', sans-serif;
    margin-bottom: .2em;
}

.styling-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 500px;
    border: solid .1em black;
    background: rgb(0, 33, 0);
    color: white;
    padding: 1em;
}

.accessibility-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 600px;
    height: 500px;
    border: solid .1em black;
    background: rgb(0, 33, 0);
    color: white;
    padding: 1em;
}

.accessibility-container h2{
    margin-bottom: 15px;
}

.features-styling-container{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 40px;
    font-size: .9rem;
}

.feature-wrapper div{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    margin: 0px;
}
.feature-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    margin: 0px;
}

.feature-wrapper p{
    margin: 0px;
}

.features-styling-container img{
    display: flex;
    width: 2rem;
    height: 2rem;
    margin-right: .5em;
}

.features-buttons-styling-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 50%;
    width: 100%;
}

.styling-container-two{
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.accessibility-support{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    font-family: 'Aleo', sans-serif;
    font-size: 1.4em;
    cursor: pointer;
    color: white;
}

.favorite-park-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Aleo', sans-serif;
    font-size: 1.1em;
    cursor: pointer;
    padding-top: .5em;
    padding-bottom: .5em;
    width: 40%;
}
