.single-park-container {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 2em;
  margin-bottom: 5em;
}

.park-details-container{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  width: 90%;
  height: 50%;
  margin-bottom: 3em;

}

.accessibility-details-container{
  display: flex;
  width: 90%;
}
