.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../images/yosemite.jpg');
    background-position: bottom;
    height: 85vh;
    margin-top: -0;
}

.ally {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 39em;
    height: 18em;
    background: rgba(255, 255, 255, 0.823);
    font-family: 'Abel', sans-serif;
    padding: 1em;
    margin-bottom: 3em;
}

.ally h2 {
    font-size: 2.5em;
    margin-top: .5em;
    font-family: 'Abel', sans-serif;

}

.ally h3 {
    font-size: 1em;
    margin-top: 1em;
    font-family: 'Abel', sans-serif;

}

.lets-adventure{
    font-size: 1.5em;
    margin-top: 2em;
    color: black;
    font-family: 'Abel', sans-serif;

}

