.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-left: 2em; */
    background-color: white;
    height: 8em;
    width: 100%;
    margin-bottom: 5em;
  }

  .title-wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .nav-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: black;
  }

  .ally-logo{
    display: flex;
    height: 6rem;
  }
  
  .header h1 {
    display: flex;
    font-size: 3em;
    font-family: 'Aleo', sans-serif;
  }
  
  .header h2 {
    display: flex;
    padding-left: 5px;
    margin: 0px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
  }

  .return-btn-container{
    display: flex;
    width: 20%;
    justify-content: space-between;
    font-size: 1.2em;
  }

  .active {
    border: solid .01em white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3em;
  }
  