
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2em;
    background-color: #FFE8CF;
    height: 8em;
  }

  .ally-logo{
    display: flex;
    height: 6rem;
  }
  
  .header h1 {
    display: flex;
    font-size: 3em;
    font-family: 'Aleo', sans-serif;
  }
  .header h2 {
    display: flex;
    padding-left: 5px;
    margin: 0px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
  }